<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
          <div style="text-align:centre">
            <label for="withdraw">Withdrawal Screen</label>
            <br>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-10 col-md-8">
            <form>
              <div class="form-group">
                <div style="text-align:left">
                <br>
                <input type="button" class="btn btn-secondary btn-lg" value="Balance">
                <br>
                <br>
                <input type="button" class="btn btn-sceondary btn-lg" value="Cash Withdrawal">
                <br>
                <br>
                <input type="button" class="btn btn-secondary btn-lg" value="Cancel">
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
</div>
