<div class="row">
  <div class="col-xs-12 col-md-3 col-md-offset-3">
    <form>
      <div class="form-group">
        <label for="pin">PIN</label>
        <input type="pin" id="pin" class="form-control">
      </div>
      <div>
          <input type="button" class="btn btn-secondary btn-lg" value="1"> |
          <input type="button" class="btn btn-secondary btn-lg" value="2"> |
          <input type="button" class="btn btn-secondary btn-lg" value="3"> | <input type="button" class="btn btn-danger btn-lg" value="Cancel">
      </div>
      <br>
      <div>
          <input type="button" class="btn btn-secondary btn-lg" value="4"> |
          <input type="button" class="btn btn-secondary btn-lg" value="5"> |
          <input type="button" class="btn btn-secondary btn-lg" value="6"> | <input type="button" class="btn btn-warning btn-lg" value="Clear">
      </div>
      <br>
      <div>
          <input type="button" class="btn btn-secondary btn-lg" value="7"> |
          <input type="button" class="btn btn-secondary btn-lg" value="8"> |
          <input type="button" class="btn btn-secondary btn-lg" value="9"> |  <input type="button" class="btn btn-success btn-lg" value="Enter">
      </div>
      <br>
      <div>
          <input type="button" class="btn btn-secondary btn-lg" value="_"> |
          <input type="button" class="btn btn-secondary btn-lg" value="0"> |
          <input type="button" class="btn btn-secondary btn-lg" value="_"> | <button type="button" class="btn btn-secondary btn-lg">____</button>
      </div>
    </form>
  </div>
</div>
