.container-fluid {
    background-color:lightblue;
    background-clip: padding-box;
    width: 800px;
    height: 500px;
    border: 30px solid grey;
    padding: 5%;
  }

  .col-xs-12 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px color black;
  }

  .form-group {
    width: 200px;
    margin-left: 22%;
  }
