<div class="container-fluid">
        <div class="row">
            <H4>Please enter your cash withdrawal amount</H4>
            <hr/>
          <div class="col-xs-12">
              <form #withForm="ngForm" (ngSubmit)="onSubmit(withForm)">
                  <div class="form-group">
                    <br>
                    <label for="amount">Amount</label>
                    <input
                    type="number"
                    id="amount"
                    class="form-control"
                    ngModel
                    name="amount"
                    required
                    minlength="3"
                    placeholder="Enter your amount">
                  </div>
                  <input type="submit" [disabled]="!withForm.valid" class="waves-effect waves-light btn" value="Enter">
              </form>
          </div>
          <div class="row">
              <div class="col-xs-10 col-md-8">
                <form>
                  <div class="form-group">
                    <div style="text-align:left">
                    <br>
                    <br>
                    <br>
                    <input routerLinkActive="active" [routerLink]="['/home']" type="button" class="btn btn-secondary btn-lg" value="EXIT">
                    </div>
                  </div>
                </form>
              </div>
              <router-outlet></router-outlet>
          </div>
        </div>
    </div>
