<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container-fluid">
        <div class="row">
            <H4>Please enter your cash amount</H4>
            <hr/>
          <div class="col-xs-12">
          </div>
          <div class="row">
              <div class="col-xs-10 col-md-8">
                <form>
                  <div class="form-group">
                    <div style="text-align:left">
                    <br>
                    <br>
                    <br>
                    <input routerLinkActive="active" [routerLink]="['/balance']" type="button" class="btn btn-secondary btn-lg" value="EXIT">
                    </div>
                  </div>
                </form>
              </div>
              <router-outlet></router-outlet>
          </div>
        </div>
    </div>

</body>
