<div class="container">
    <div class="row">
      <div class="col-xs-10">
          <div style="text-align:center">
              <h1>Welcome!</h1>
              <br>
              <h1>Please select PIN Authenticate to proceed</h1>
          </div>
          <iframe src="https://giphy.com/embed/3o6UBl6P4Ey0zkqbnO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3o6UBl6P4Ey0zkqbnO">via GIPHY</a></p>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


