<div class="container">
    <div class="row">
      <div class="col-xs-10">
          <div style="text-align:center">
              <h2>WELCOME!</h2>
              <h4>Please select PIN Authenticate above to proceed</h4>
              <br>
          </div>
          <iframe class="img-responsive" src="https://giphy.com/embed/3o6UBl6P4Ey0zkqbnO" width="460" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
